<p>password and radio button works!</p>
<p-password [(ngModel)]="value1"></p-password>
<h5>Show Password</h5>
<p-password [(ngModel)]="value2" [toggleMask]="true"></p-password>


<h5>Basic</h5>
<div class="p-field-radiobutton">
    <p-radioButton name="city" value="Chicago" [(ngModel)]="city" inputId="city1"></p-radioButton>
    <label for="city1">Chicago</label>
</div>
<div class="p-field-radiobutton">
    <p-radioButton name="city" value="Los Angeles" [(ngModel)]="city" inputId="city2"></p-radioButton>
    <label for="city2">Los Angeles</label>
</div>
<div class="p-field-radiobutton">
    <p-radioButton name="city" value="New York" [(ngModel)]="city" inputId="city3"></p-radioButton>
    <label for="city3">New York</label>
</div>
<div class="p-field-radiobutton">
    <p-radioButton name="city" value="San Francisco" [(ngModel)]="city" inputId="city4"></p-radioButton>
    <label for="city4">San Francisco</label>
</div>
<div>{{city}}</div>

<div>
    <h5>Dynamic Binding</h5>
    <div *ngFor="let country of countries">
        <p-radioButton [inputId]="country.key" name="city" [value]="country" [(ngModel)]="selectedCountry"></p-radioButton>
        <label [for]="country.key">{{country.name}}</label>
    </div>
</div>