<!-- <app-input-mask></app-input-mask>
<app-input-switch></app-input-switch>
<app-input-text></app-input-text>
<app-checkbox></app-checkbox>
<app-input-number></app-input-number>
<app-knob></app-knob>
<app-key-filter></app-key-filter>
<app-list-box></app-list-box>
<app-password></app-password>
<app-rating></app-rating>
<app-select-button></app-select-button>
<app-button></app-button>
<app-confirm-dialog></app-confirm-dialog>
<app-dialog></app-dialog>
<div [ngStyle]="{backgroundColor:'var(--blue-500)'}">
    <p>Hii</p>
</div> -->
<!-- <app-org-chart></app-org-chart>
<app-accordion></app-accordion> -->
<!-- <app-card></app-card>
<app-divider></app-divider>
<app-fieldset></app-fieldset>
<app-panel></app-panel> -->

<div class="container">
  <div class="sidebar">
    <img src="./assets/logo1.png" class="logo" />
    <div class="SideMenu">
      <p-sidebar
        [(visible)]="display"
        position="left"
        [style]="{ width: '20em' }"
        [baseZIndex]="99999"
      >
        Content
      </p-sidebar>
      <span
        class="pi pi-align-left sidebarOption"
        (click)="display = true"
      ></span>
      <span class="pi pi-user sidebarOption" (click)="display = true"></span>
      <span class="pi pi-book sidebarOption" (click)="display = true"></span>
      <span
        class="pi pi-chart-bar sidebarOption"
        (click)="display = true"
      ></span>
    </div>
  </div>
  <div class="rightDiv">
    <div>
      <div class="header">
        <p class="windchill">
          <span class="mainTitle">windchill'</span> rv&s 12
        </p>
        <i class="pi pi-bell bellIcon"></i>
      </div>
      <p-divider></p-divider>
    </div>
    <div>
      <div>
        <p-breadcrumb [model]="items"></p-breadcrumb>
      </div>
      <div class="subheader">
        <div>
          <div class="DocumentName">Document Name</div>
          <div class="Info">
            Created by Jim Halpert at 14:30 &nbsp;&nbsp; | &nbsp;&nbsp; Modified
            by Robert California at 15:45 &nbsp;&nbsp; | &nbsp;&nbsp; Other 'as
            of' info goes here
          </div>
        </div>
        <div>
          <button
            pButton
            pRipple
            type="button"
            label="Specification Document"
            class="p-button-raised p-button-secondary SpecificationDocument"
          ></button>
        </div>
      </div>
      <div class="Table" [ngClass]="checked == true ? 'Table' : 'Table1'">
        <div class="box">
          <div class="subBox">
            <p-tabView>
              <!-- <p-tabPanel header="{{data}}" *ngFor="let data of tabheaders">
                <app-table [Name]="data"></app-table>
              </p-tabPanel> -->
              <p-tabPanel header="Time Entries">
                <app-table [Name]="'Time Entries'"></app-table>
              </p-tabPanel>
              <p-tabPanel header="Relationships">
                <app-table [Name]="'Relationships'"></app-table>
              </p-tabPanel>
              <p-tabPanel header="Attachments">
                <app-table [Name]="'Attachments'"></app-table>
              </p-tabPanel>
              <p-tabPanel header="Advanced">
                <app-table [Name]="'Advanced'"></app-table>
              </p-tabPanel>
              <p-tabPanel header="Branches">
                <app-table [Name]="'Branches'"></app-table>
              </p-tabPanel>
              <p-tabPanel>
                <ng-template pTemplate="header">
                  <p-dropdown
                    [options]="Options"
                    [(ngModel)]="selectedOption"
                    optionLabel="name"
                    placeholder="More"
                    class="More"
                    optionValue="name"
                  ></p-dropdown>
                </ng-template>
                <div *ngIf="selectedOption!=undefined">
                  <app-table [Name]="selectedOption"></app-table>                  
                </div>
              </p-tabPanel>
            </p-tabView>
          </div>
          <div class="searchInput">
            <span class="p-input-icon-right">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                [(ngModel)]="value1"
                placeholder="Search"
                class="searchBox"
              />
            </span>
          </div>
          <!-- <ng-template pTemplate="caption">
            <div style="text-align: right">        
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
          </ng-template> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <span class="p-input-icon-right" style="position: fixed; top: 32%; left:84%">
  <i class="pi pi-search"></i>
  <input
    type="text"
    pInputText
    [(ngModel)]="value1"
    placeholder="search"
    style="padding:8px 8px;"
  />
</span> -->

<!-- <p-tabPanel header="More" rightIcon="pi pi-angle-down">
              <p-dropdown
                [options]="Options"
                [(ngModel)]="selectedOption"
                optionLabel="name"
                placeholder="More"
                class="mo"
              ></p-dropdown>
              <span class="p-input-icon-right">
                <i class="pi pi-search" style="font-weight: bold; color:#000"></i>
                <input
                  type="text"
                  pInputText
                  [(ngModel)]="value1"
                  placeholder="search"
                  class="inputbox"
                />
              </span>
            </p-tabPanel> -->


            <div style="padding: 20px;">
            <p-table #dt1 [columns]="cols" [value]="products" styleClass="p-datatable-gridlines" style="padding:20px;">
              <ng-template pTemplate="caption">
                <div class="p-d-flex">
                    <span class="p-input-icon-left ">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" 
                        (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                          placeholder="Search keyword" style="padding: 10px;"/>
                    </span>
                </div>
            </ng-template>
              <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th *ngFor="let col of columns">
                          {{col.header}}
                      </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr class="rowBorder">
                  <td>{{ rowData.user }}</td>
                  <td class="userInfo" [ngStyle]="mystyles">{{ rowData.summary }}</td>
                  <td>{{ rowData.id }}</td>
                  <td style="border: none;">{{ rowData.day[0] }}</td>
                  <td style="border: none;">{{ rowData.day[1] }}</td>
                  <td style="border: none;">{{ rowData.day[2] }}</td>
                  <td style="border: none;">{{ rowData.day[3] }}</td>
                  <td style="border: none;">{{ rowData.day[4] }}</td>
                  <td style="border: none;">{{ rowData.day[5] }}</td>
                  <td style="border: none;">{{ rowData.day[6] }}</td>
                  <td style="border: none;">{{rowData.day[7]}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer" let-rowData let-columns="columns">
              <tr>
                <td colspan="3" style="border: none;">Total</td>
                <td style="border: none;">24h</td>
                <td style="border: none;">14h</td>
                <td style="border: none;">24h</td>
                <td style="border: none;">-</td>
                <td style="border: none;">-</td>
                <td style="border: none;">-</td>
                <td style="border: none;">-</td>
                <td style="border: none;">-</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                  <td colspan="11">No customers found.</td>
              </tr>
            </ng-template>
            </p-table>
            </div>